MONGO_URI=mongodb+srv://user:password@cluster.mongodb.net/?appName=LogisticForesightDB
MONGO_DB_NAME=LogisticForesight

EUREKA_SERVER=http://your-service-registry.onrender.com

ML_SERVICE_URL=https://your-ml-service.onrender.com

KAFKA_BOOTSTRAP_SERVERS=your-cluster.confluent.cloud:9092
KAFKA_API_KEY=your-kafka-api-key
KAFKA_API_SECRET=your-kafka-api-secret
KAFKA_CLIENT_ID=your-kafka-client-id

SCHEMA_REGISTRY_URL=https://your-schema-registry.confluent.cloud
SCHEMA_REGISTRY_API_KEY=your-schema-registry-api-key
SCHEMA_REGISTRY_API_SECRET=your-schema-registry-api-secret