PACKING_SERVICE_URL=
DELIVERY_SERVICE_URL=

# only added for the convienice to generate orders from dashboard, not used in the actual application
CONFLUENT_BOOTSTRAP=
CONFLUENT_API_KEY=
CONFLUENT_API_SECRET=
KAFKA_ORDERS_TOPIC=
MONGO_URI=
MONGO_DB_NAME=
MONGO_COLLECTION=